{
    "tabWidth": 2,
    "arrowParens": "always",
    "endOfLine": "auto",
    "trailingComma": "all",
    "semi": true,
    "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
    "importOrderSeparation": false ,
    "editor.defaultFormatter": "esbenp.prettier-vscode",
      "[javascript]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode",
        "editor.formatOnSave": true
      }
    
  }
  